!!!
%html
  %head
    %title API documentation
    = stylesheet_link_tag    "doc", media: "all"
    = javascript_include_tag "doc"
    = csrf_meta_tags
    %link{rel: 'shortcut icon', href: '/assets/favicon.ico', type: 'image/x-icon'}
  %body
    #title API Documentation
    = yield
